Resume Finder/Resume Finder Bot.json
{
  "name": "Resume Finder Bot",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "resumefinder",
          "mode": "list",
          "cachedResultName": "resumefinder"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -32,
        -704
      ],
      "id": "d8f2e399-f9f9-4d70-9495-34f81302e519",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "1DLOHvkSudMFnXPv",
          "name": "Pineresumefinder"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        16,
        -496
      ],
      "id": "c8f1d565-d49d-4cdf-8c36-39c38121e121",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "GrUMbAb2f7mlYuyN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        192,
        -496
      ],
      "id": "886709e0-6ad9-4b60-94a8-74d36fdbc65b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        208,
        -304
      ],
      "id": "383d9ef4-8e85-4605-a68f-214bbf291881",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -304,
        -704
      ],
      "id": "a7afb9c4-d3d8-44c5-9c27-03ab2f67524d",
      "name": "Download",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0vdpAkZROuuvbd6c",
          "name": "Google Drive API Manual Bot"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "10KDe97bnUgH5pI0xeyeZmeWH26vCzmhE",
          "mode": "list",
          "cachedResultName": "Resume Finder",
          "cachedResultUrl": "https://drive.google.com/drive/folders/10KDe97bnUgH5pI0xeyeZmeWH26vCzmhE"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -832,
        -704
      ],
      "id": "8562cd05-1e65-4485-ba43-13edec3a26bf",
      "name": "Trigger Bot",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "chhirdAAlQEu7y3W",
          "name": "Google Drive resume finder"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": ".pdf",
        "limit": 75,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "10KDe97bnUgH5pI0xeyeZmeWH26vCzmhE",
            "mode": "list",
            "cachedResultName": "Resume Finder",
            "cachedResultUrl": "https://drive.google.com/drive/folders/10KDe97bnUgH5pI0xeyeZmeWH26vCzmhE"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -592,
        -704
      ],
      "id": "92536394-dac3-4019-a614-d857ea6dc33e",
      "name": "Files From resume finder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "chhirdAAlQEu7y3W",
          "name": "Google Drive resume finder"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -944,
        352
      ],
      "id": "867e7c10-575d-422d-a0c2-ff012ada5974",
      "name": "Telegram Trigger",
      "webhookId": "60759d26-e0db-476a-9992-d46ab029b961",
      "credentials": {
        "telegramApi": {
          "id": "LMC1pWhppP8TIXgV",
          "name": "Telegram resume Bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a resume finder assistant. Answer ONLY using the supplied knowledge base/snippets.\nIf the knowledge base does not contain the answer, say exactly:\n\"Sorry! I can't find relevant information from the knowledge base.\"\nRespond concisely (4–6 lines). No greetings, no small talk, no explanations of your rules.\nUser query:{{$json.userText}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -64,
        240
      ],
      "id": "c80ed850-98a5-4a60-bd96-30b93108cdbc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        288,
        240
      ],
      "id": "6f3908d9-0893-4966-b7a1-ef6a6c922ac6",
      "name": "Send a text message",
      "webhookId": "133b72c2-e14b-4cbc-9416-926f7149123a",
      "credentials": {
        "telegramApi": {
          "id": "LMC1pWhppP8TIXgV",
          "name": "Telegram resume Bot"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        672
      ],
      "id": "b9c0e4ce-1ed8-4d14-aaea-5fe4f19eb62e",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "GrUMbAb2f7mlYuyN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -160,
        464
      ],
      "id": "2c06c2a6-bb4e-427e-9097-ea411338b4db",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "GrUMbAb2f7mlYuyN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "{{ String(   $('Telegram Trigger').item.json.message?.chat?.id    || $('Telegram Trigger').item.json.message?.from?.id    || $json.chat_id ) }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -32,
        496
      ],
      "id": "327c714c-397b-41ad-8aa5-41a2fd8a5d1f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "={{ $('Telegram Trigger').item.json.message.text }}",
        "pineconeIndex": {
          "__rl": true,
          "value": "resumefinder",
          "mode": "list",
          "cachedResultName": "resumefinder"
        },
        "includeDocumentMetadata": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        112,
        464
      ],
      "id": "febb51c6-145a-450e-9fbe-ad73c48e1663",
      "name": "Pine meeting Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "1DLOHvkSudMFnXPv",
          "name": "Pineresumefinder"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Input: Telegram Trigger item\nconst userText = $input.first().json.message?.text.trim().toLowerCase();\n\n// List of irrelevant inputs (can be expanded as needed)\nconst irrelevantInputs = [\"hello\", \"hi\", \"hey\", \"thanks\", \"okay\", \"help\", \"test\"];\n\n// Check if the input is irrelevant\nconst isIrrelevant = irrelevantInputs.some(input => userText.includes(input));\n\nif (isIrrelevant) {\n  // Set flag for irrelevant input\n  return {\n    json: {\n      irrelevant: true,\n      message: \"Sorry! I can't find relevant information from the knowledge base.\"\n    }\n  };\n}\n\n// If relevant, pass the message to the next step\nreturn {\n  json: {\n    irrelevant: false,\n    message: userText // Pass the original message for processing\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        128
      ],
      "id": "11e32936-4ea8-4732-804a-996af9d2d9ab",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "07a8b1be-5f7e-4835-8b6a-863e4373d83a",
              "leftValue": "={{ $json.irrelevant }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -384,
        0
      ],
      "id": "913c0d99-9fc2-4fd0-8db3-ec4cf6e7ed12",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Sorry! I Can't find the relevant information from the knowledge base.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -48,
        -96
      ],
      "id": "65e41ff8-1f79-4c94-b935-b18d423ff9fd",
      "name": "True Path",
      "webhookId": "133b72c2-e14b-4cbc-9416-926f7149123a",
      "credentials": {
        "telegramApi": {
          "id": "LMC1pWhppP8TIXgV",
          "name": "Telegram resume Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Download": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Bot": {
      "main": [
        [
          {
            "node": "Files From resume finder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Files From resume finder": {
      "main": [
        [
          {
            "node": "Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pine meeting Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pine meeting Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "True Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9e270388-48fb-4330-8866-38a21d237cfa",
  "meta": {
    "instanceId": "65397da1724e8bc6b1c03e7622f76a50f708f7f7b8e3993c5add29845b20f434"
  },
  "id": "s6c5rs8PWFr7H6wB",
  "tags": []
}