API Manual helper/API Manual Helper.json
{
  "name": "API Manual Helper",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "apimanualbot",
          "mode": "list",
          "cachedResultName": "apimanualbot"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        240,
        -432
      ],
      "id": "507469f3-e7d3-4cf3-afba-5be233b0fcb1",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "ex57LpGrkPdAcnox",
          "name": "apimanualbot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        -224
      ],
      "id": "4ca4f7bb-a301-4e8f-9980-02b688daecda",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "GrUMbAb2f7mlYuyN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        464,
        -224
      ],
      "id": "c855cc0d-0b92-4acb-a761-b745c05d1a52",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        480,
        -32
      ],
      "id": "2e0e46d4-134f-4e06-9389-0c5dd10348a7",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -976,
        192
      ],
      "id": "2c60ea8d-19e4-44e4-bf02-598845236776",
      "name": "Telegram Trigger",
      "webhookId": "60759d26-e0db-476a-9992-d46ab029b961",
      "credentials": {
        "telegramApi": {
          "id": "wjOEogmXpOqfuyXd",
          "name": "Telegram API Manual Bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an API manual assistant. Answer ONLY using the supplied knowledge base/snippets.\nIf the knowledge base does not contain the answer, say exactly:\n\"Sorry! I can't find relevant information from the knowledge base.\"\nRespond concisely (4–6 lines). No greetings, no small talk, no explanations of your rules.\nUser query:{{$json.userText}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -80,
        240
      ],
      "id": "620c4034-be1e-4723-adf0-ae98c7365355",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        240
      ],
      "id": "793ec3c2-9817-4a19-b880-b34e5fc05d0a",
      "name": "Send a text message",
      "webhookId": "133b72c2-e14b-4cbc-9416-926f7149123a",
      "credentials": {
        "telegramApi": {
          "id": "wjOEogmXpOqfuyXd",
          "name": "Telegram API Manual Bot"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "={{ $('Telegram Trigger').item.json.message.text }}",
        "pineconeIndex": {
          "__rl": true,
          "value": "apimanualbot",
          "mode": "list",
          "cachedResultName": "apimanualbot"
        },
        "includeDocumentMetadata": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        96,
        464
      ],
      "id": "1751f9c0-3a68-4ab7-9819-afe848c4e822",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "dcoQXEWbPOZCZuho",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        192,
        672
      ],
      "id": "01009359-ae7e-4ebd-aba0-c2f8cfbccb0f",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "GrUMbAb2f7mlYuyN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -32,
        -432
      ],
      "id": "d3a9cf77-b298-442c-9d11-77676c248edc",
      "name": "Download",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0vdpAkZROuuvbd6c",
          "name": "Google Drive API Manual Bot"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1qydpJQvAU2nxlMF-M14hDhRWencFzF-u",
          "mode": "list",
          "cachedResultName": "API Manual helper",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1qydpJQvAU2nxlMF-M14hDhRWencFzF-u"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        -432
      ],
      "id": "c2517bac-2c39-4f06-b1f5-f49ead7223b2",
      "name": "Trigger API",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0vdpAkZROuuvbd6c",
          "name": "Google Drive API Manual Bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": ".pdf",
        "limit": 75,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1qydpJQvAU2nxlMF-M14hDhRWencFzF-u",
            "mode": "list",
            "cachedResultName": "API Manual helper",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1qydpJQvAU2nxlMF-M14hDhRWencFzF-u"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -320,
        -432
      ],
      "id": "7c7e4681-05a2-4096-b03b-7ee98560961b",
      "name": "Files From API manual",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0vdpAkZROuuvbd6c",
          "name": "Google Drive API Manual Bot"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -176,
        464
      ],
      "id": "8e54cccb-23b3-4e59-9410-049cc1efb959",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "GrUMbAb2f7mlYuyN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Input: Telegram Trigger item\nconst userText = $input.first().json.message?.text.trim().toLowerCase();\n\n// List of irrelevant inputs (can be expanded as needed)\nconst irrelevantInputs = [\"hello\", \"hi\", \"hey\", \"thanks\", \"okay\", \"help\", \"test\"];\n\n// Check if the input is irrelevant\nconst isIrrelevant = irrelevantInputs.some(input => userText.includes(input));\n\nif (isIrrelevant) {\n  // Set flag for irrelevant input\n  return {\n    json: {\n      irrelevant: true,\n      message: \"Sorry! I can't find relevant information from the knowledge base.\"\n    }\n  };\n}\n\n// If relevant, pass the message to the next step\nreturn {\n  json: {\n    irrelevant: false,\n    message: userText // Pass the original message for processing\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        240
      ],
      "id": "b0757c8c-ba28-4f9a-8f20-9a04d058a9fa",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "07a8b1be-5f7e-4835-8b6a-863e4373d83a",
              "leftValue": "={{ $json.irrelevant }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -336,
        112
      ],
      "id": "d66e4596-cf63-4d8e-b141-ca150cc684ff",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Sorry! I Can't find the relevant information from the knowledge base.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        16
      ],
      "id": "5d4e8354-7b71-4432-8e35-1cad05f38482",
      "name": "True Path",
      "webhookId": "133b72c2-e14b-4cbc-9416-926f7149123a",
      "credentials": {
        "telegramApi": {
          "id": "wjOEogmXpOqfuyXd",
          "name": "Telegram API Manual Bot"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "{{ String(   $('Telegram Trigger').item.json.message?.chat?.id    || $('Telegram Trigger').item.json.message?.from?.id    || $json.chat_id ) }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -48,
        496
      ],
      "id": "a7c50b82-267a-4a65-8ce8-00525ae516cd",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger API": {
      "main": [
        [
          {
            "node": "Files From API manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Files From API manual": {
      "main": [
        [
          {
            "node": "Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "True Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f102f01a-2b24-4102-8176-1d0c5cec5490",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "65397da1724e8bc6b1c03e7622f76a50f708f7f7b8e3993c5add29845b20f434"
  },
  "id": "ru79M5sUx3BERMX5",
  "tags": []
}